
    *{
     
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
.parent{
     background-color: rgb(200, 214, 216);
     padding: 20px;
     display: flex;
     gap: 50px;
     justify-content: center;
    
}
.container{
    background-color: white;
    color: black;
    height: 370px;
    width: 280px;
    padding:10px;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;

} 

.btn{
    border: none;
    border-radius: 8px;
    background-color: blue;
    padding: 10px;
    width:170px;
    
}
img{
    width: 200px;
    height: 200px;
    padding: 10px;
}
.box{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: start;
    justify-content: center;
}
.container:hover{
    transition: all 2s;

}
.container::before{
    
}
