.box{
     display: flex;
     background-color: #9e8d8d;
     
     justify-content: center;
}

img {
    width: 250px;
    height: 200px;
    padding: 10px;
    
} 
h4{
    text-align: center;
    color: #851b1b;
    font-size: 20px;
}
.customer{
    margin:10px;
    border: #851b1b 1px solid;
    align-items: center;
    background-color: aqua;
    border-radius: 10px;
    }